@import "../../../styles/mixins.scss";

.page {
  display: flex;
  justify-content: center;

  .contentWrapper {
    margin-top: 100px;
    margin-bottom: 100px;

    .modesTitle {
      @include slide-right;
      color: var(--color-text);
    }

    .modes {
      margin-top: 50px;
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
    }
  }
}
