* {
  max-width: 300px;

  --color-primary: #f4f4f2;
  --color-secondary: #e8e8e8;
  --color-background: #fff;
  --color-light-text: #97a1ae;
  --color-text: #495464;
  --color-correct: #a3ff71;
  --color-incorrect: #fa9494;
}
