* {
  --max-width: 360px;
  --max-margin: 40px;
}

@media (max-width: 480px) {
  * {
    --max-width: 360px;
    --max-margin: 40px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  * {
    --max-width: 481px;
    --max-margin: 100px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  * {
    --max-width: 768px;
    --max-margin: 160px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  * {
    --max-width: 1025px;
    --max-margin: 220px;
  }
}

@media (min-width: 1281px) {
  * {
    --max-width: 1280px;
    --max-margin: 300px;
  }
}
