@import "../../../styles/mixins.scss";

.page {
  display: flex;
  justify-content: center;

  .contentWrapper {
    margin-top: 100px;
    margin-bottom: 100px;

    .hero {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .title {
        margin-bottom: 20px;
        color: var(--color-text);
      }
      .detailsList {
        li {
          font-size: large;
          color: var(--color-light-text);
        }
      }
      .banner {
        @include slide-left;
        @include breathe;
        animation-duration: 8s;
        width: 100%;
        filter: drop-shadow(0px 8px 12px rgba(145, 158, 171, 0.572));
      }
      .container {
        @include slide-right;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        gap: 50px;

        @media (max-width: 1280px) {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
