@import "../../../styles/mixins.scss";

.page {
  display: flex;
  justify-content: center;
  width: 100%;

  .contentWrapper {
    @include slide-up;

    width: 100%;
    margin-top: 200px;

    h2 {
      text-align: center;
      margin-bottom: 10px;
      text-transform: uppercase;
      color: var(--color-light-text);
      user-select: none;
    }

    @media (max-width: 900px) {
      margin-top: 80px;
    }
  }
}
